* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1.25rem;
}

.nav-link{
    
}

.nav-link-menu{
    display: grid;
    grid-auto-flow: column;
    column-gap: 1.5rem;
}