:root{
    --colors-text: #000000;
    --colors-label: #444444;
    --colors-accent: #ff0000;
    --text-big-mobile: 2.1rem;
    --text-big-desktop: 5rem;

    --header-height: 70px;
    --header-height-desktop: 6.4rem;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Work Sans', sans-serif;
}

nav{
    height: var(--header-height);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.25rem;
}



.nav-link-menu{
    display: grid;
    grid-auto-flow: column;
    column-gap: 1rem;
    
}



.link {
    color: var(--colors-text);
    text-decoration: none;
}

.section{
    padding: 0rem 1.25rem;
    min-height: 100vh;
}

.section-1-content{
    height: calc(100vh - var(--header-height));
    display: grid;
    grid-auto-flow: row;
    align-items: center;
}

.section-2-content{
    display: grid;
    grid-auto-flow: row;
    row-gap: 1.5rem;
    align-items: center;
    height: 100vh;
}



.section-3-content{
    display: grid;
    grid-auto-flow: row;
    height: 100vh;
    align-content: center;
}

.section-4-content{
    margin-top: 0rem;
    display: grid;
    grid-auto-flow: row;
    row-gap: 1.5rem;
}

.section-4-content a{
    text-align: right;
   
}

.section-4-content a:hover{
    text-decoration: underline;
}

.selected-work-video{
    width: 100%;
    height: auto;
}

.videos-container{
    display: grid;
    grid-auto-flow: row;
    row-gap: 3rem;
}



.project-label {
    text-transform: uppercase;
    margin-top: 0.5rem;
    color: var(--colors-label);
}

.text-large {
    font-size: var(--text-big-mobile);
    font-weight: 300;
}


.skillz {
    font-size: var(--text-big-mobile);
    font-weight: 300;
    text-align: left;
}

.skillz-accent-slash {
    color: var(--colors-accent);
}

.selected-work-title {
    margin-top: 4rem;
    font-weight: 300;
}

.ellipse{
    width: 8rem;
    height: 8rem;
    background-color: var(--colors-accent);
    border-radius: 50%;
    
}

.ellipse-container {
    display: flex;
    justify-content:flex-end;
}



.contact-title {
    font-size: 2rem;
}



.footer-content{
    display: grid;
    justify-items: center;
    align-content: center;
    height: 100vh;
    row-gap: 1rem;
}

.footer-content .ellipse {
    display: flex;
    align-items: center;
}

.footer-links{
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
    justify-items: center;
}

.footer-links .link:hover {
    text-decoration: underline;
}



.footer-title-holder {
    position: relative;
    display: grid;
    place-items: center;
}


.contact-title {
    font-size: 4rem;
    position: absolute;
}


/* WORK PAGE */
.work-page-heading {
    margin: 3rem 0 2rem 0;
}

.projects-list {
    display: grid;
    grid-auto-flow: row;
    row-gap: 3rem;
}


.project-heading {
    margin-bottom: 1rem;
}



.project-description {
    margin-top: 0.5rem;
}

.project-description-image {
    width: 50%;
    height: auto;
    
}



@media screen and (min-width: 1280px) {
    .text-large {
        font-size: var(--text-big-desktop);
    }

    .section{
        padding: 0rem 5rem;
    }

    nav{
        height: var(--header-height-desktop);
        padding: 0rem 5rem;
    }
    
    .section-1-content {
        align-content: center;
        height: auto;
    }

    .section-1-content .ellipse-container{
        margin-top: 3rem;
    }


    .skillz {
        font-size: 7.5rem;
        font-weight: 400;
    }


    .selected-work-title {
        font-size: var(--text-big-desktop);
        margin-bottom: 5rem;
        
    }


    .videos-container {
         grid-template-columns: repeat(2, 1fr);
         column-gap: 2.5rem;
         margin-bottom: 5rem;
    }


    .project-figure:nth-of-type(2){
        margin-top: 20rem;
    }


    .see-all {
        font-size: 3rem;
    }


    footer .link {
        font-size: 3rem;
    }

    footer .ellipse {
        width: 20rem;
        height: 20rem;
    }

   
    .footer-content {
        row-gap: 5rem;
    }

    .contact-title {
        font-size: 8rem;
    }



    /* WORK */
    .projects-list {
        row-gap: 10rem;
    }

    .project {
        min-height: 100vh;
    }

    .project-heading {
        font-size: 5rem;
        font-weight: 300;
    }



    .project-description {
        margin-top: 2rem;
    }

}



@media screen and (min-width: 1680px) {


    nav {
        padding: 0;
        max-width: 1680px;
        margin: 0 auto;
    }

    .section {
        padding: 0;
        max-width: 1680px;
        margin: 0 auto;
    }
}