:root{
    --colors-text: #000000;
    --colors-accent: #ff0000;
    

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}

body{
    font-family: 'Montserrat', sans-serif;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1.25rem;
}



.nav-link-menu{
    display: grid;
    grid-auto-flow: column;
    column-gap: 1.5rem;
    
}

.nav-link{
    color: var(--colors-text);
    text-decoration: none;
    
}