:root{
    --colors-text: #000000;
    --colors-accent: #ff0000;
    --text-big-mobile: 2.1rem;

    --header-height: 70px;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
}

nav{
    height: var(--header-height);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.25rem;
}



.nav-link-menu{
    display: grid;
    grid-auto-flow: column;
    column-gap: 1rem;
    
}



.link {
    color: var(--colors-text);
    text-decoration: none;
}

.section{
    padding: 0rem 1.25rem;
    min-height: 100vh;
}

.section-1-content{
    height: calc(100vh - var(--header-height));
    display: grid;
    grid-auto-flow: row;
    align-items: center;
}

.section-2-content{
    display: grid;
    grid-auto-flow: row;
    row-gap: 1.5rem;
    align-items: center;
    height: 100vh;
}



.section-3-content{
    display: grid;
    grid-auto-flow: row;
    place-items: center;    
    height: 100vh;
}

.section-4-content{
    margin-top: 0rem;
    display: grid;
    grid-auto-flow: row;
    row-gap: 1.5rem;
}

.video-1{
    margin: auto;
}

.text-large {
    font-size: var(--text-big-mobile);
    font-weight: 300;
}


.selected-work{
    margin-top: 4rem;
    font-weight: normal;
    
}

.ellipse{
    width: 8rem;
    height: 8rem;
    background-color: var(--colors-accent);
    border-radius: 50%;
    
}

.ellipse-container {
    display: flex;
    justify-content:flex-end;
}



.



.contact-title {
    font-size: 2rem;
}



.footer-content{
    display: grid;
    justify-items: center;
    align-content: center;
    height: 100vh;
    row-gap: 1rem;
}

.footer-content .ellipse {
    display: flex;
    align-items: center;
}

.footer-links{
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
    justify-items: center;
}

@media screen {
    
}