:root{
    --colors-text: #000000;
    --colors-accent: #ff0000;
    --text-big-mobile: 2.1rem

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}

body{
    font-family: 'Montserrat', sans-serif;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1.25rem;
}



.nav-link-menu{
    display: grid;
    grid-auto-flow: column;
    column-gap: 1.5rem;
    
}

.nav-link{
    color: var(--colors-text);
    text-decoration: none;
    
}

.section{
    padding: 0rem 1.25rem;
    min-height: 100vh;


}

.section-1-content{
    /*margin-top: 12rem;*/
    margin-top: -1rem;
    display: grid;
    grid-auto-flow: row;
    row-gap: 1.5rem;
    
}

.section-2-content{
    margin-top: 0rem;
    display: grid;
    grid-auto-flow: row;
    row-gap: 1.5rem;
}

.section-3-content{
    margin-block-end: 100rem;
    display: grid;
    grid-auto-flow: row;
    row-gap: 1.5rem;
    justify-items: center;
}

.section-4-content{
    margin-top: 0rem;
    display: grid;
    grid-auto-flow: row;
    row-gap: 1.5rem;
}

.video-1{
    margin: auto;
}

.text-large{
    font-size: var(--text-big-mobile);
    font-weight: 300;
}

.text-1-large{
    font-size: var(--text-big-mobile);
    font-weight: 300;
    margin-block-start: 10rem;
}

.text-2-large{
    font-size: var(--text-big-mobile);
    font-weight: 300;
    margin-block-end: 10rem;
    margin-top: 10rem;
}

.selected-work{
    margin-top: 4rem;
    font-weight: normal;
    
}

.selected-work-link{
    text-decoration: none;
    color: var(--colors-text);
}

.ellipse{
    width: 8rem;
    height: 8rem;
    background-color: var(--colors-accent);
    border-radius: 50%;
    
}

.ellipse-container{
    display: flex;
    justify-content:flex-end;
}

.ellipse-contact{
    width: 8rem;
    height: 8rem;
    background-color: var(--colors-accent);
    border-radius: 50%;
    
}

.ellipse-contacts{
    margin-top: 10rem;
    display: flex;
    justify-content: center;
}

.contact{
    margin: auto;
    margin-top: -5.1rem;
    font-weight: normal;
    justify-content: center;
    font-size: 2rem;
}

@media screen {
    
}