:root{
    --colors-text: #000000;
    --colors-accent: #ff0000;
    --text-big-mobile: 2.6rem

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}

body{
    font-family: 'Montserrat', sans-serif;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1.25rem;
}



.nav-link-menu{
    display: grid;
    grid-auto-flow: column;
    column-gap: 1.5rem;
    
}

.nav-link{
    color: var(--colors-text);
    text-decoration: none;
    
}

.section{
    padding: 0rem 1.25rem;
    min-height: 100vh;


}

.section-1-content{
    margin-top: 12rem;
    display: grid;
    grid-auto-flow: row;
    row-gap: 1.5rem;
    
}

.text-large{
    font-size: var(--text-big-mobile);
    font-weight: 300;
}

.ellipse{
    width: 8rem;
    height: 8rem;
    background-color: var(--colors-accent);
    border-radius: 50%;
    
}

.ellipse-container{
    display: flex;
    justify-content:flex-end;
}

@media screen {
    
}